.navbar {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-background);
}

.navbar__container {
  padding: 1rem 2rem!important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition-fast);
}

.nav-links a:hover {
  color: var(--color-primary);
}

.nav-links a.active {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .navbar__nav {
    display: none;
  }
}